<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>MAKE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Renne Castellanos</ion-card-subtitle>
      <ion-card-title>Prueba de desarrollo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-segment (ionChange)="activeForm($event)">
        <ion-segment-button  value="login" checked>
          <ion-icon name="fastforward"></ion-icon>
          <ion-label>Acceder</ion-label>
        </ion-segment-button>
        <ion-segment-button value="register" >
          <ion-icon name="person-add"></ion-icon>
          <ion-label>Registro</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div>
        <div *ngIf="activeFormController">
          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-input type="email" [(ngModel)]="loginForm.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="loginForm.password"></ion-input>
          </ion-item>
          <ion-button color="primary" expand="full" (click)="login(loginForm)" >Ingresar</ion-button>
        </div>
        <div *ngIf="!activeFormController">
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="registerForm.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-input type="email" [(ngModel)]="registerForm.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="registerForm.password"></ion-input>
          </ion-item>
          <ion-button color="primary" expand="full" (click)="register(registerForm)" >Registrarse</ion-button>
        </div>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
